<title>Baltimore-Crime-Stats</title>

<mat-toolbar color="primary">
    <mat-toolbar-row>Baltimore Crime Stats</mat-toolbar-row>
    <mat-toolbar-row>TEAM 10</mat-toolbar-row>
</mat-toolbar>

<div class="MainLogin">

    <mat-card id="card" style="text-align: center;">
	    <mat-card-title>
		    Login
	    </mat-card-title>

        <div class="LoginBox">
		    <mat-form-field class=id_box hintLabel="Enter at least 4 characters" appearance="fill">
                <mat-label>Enter your ID</mat-label>
                <input placeholder="Ex. Abbi">
		    </mat-form-field><br/>

		    <mat-form-field class=password_box hintLabel="Enter at least 4 characters" appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed] = "hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field><br/>
        </div>

		<button mat-raised-button color="primary" style="margin-right:5px;">Sign-in</button>
        <button mat-raised-button color="primary" style="margin-right:5px;">Sign-up</button>

    </mat-card>
</div>