<h1>
    <span class="frontPageTitle">Welcome to Baltimore Crime State</span>
</h1>
<br>

<div class="frontPage">
    <mat-card class="loginBox">
        <mat-card-header>
            <mat-card-title class="loginTitle">Login Page</mat-card-title>
        </mat-card-header>

        <mat-card-content fxLayout="column">
            <p>
                <mat-form-field class="inputBox" appearance="fill">
                    <input matInput placeholder="Enter your username">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field class="inputBox" appearance="fill">
                    <input type="password" matInput placeholder="Enter your password">
                </mat-form-field>
            </p>
        </mat-card-content>

        <div class="mouseBox">
            <button mat-raised-button color="primary" style="margin-right:20px;">Sign-in</button>
            <button mat-raised-button color="primary" style="margin-right:20px;">Sign-up</button>
        </div>

    </mat-card>
</div>