<nav class="col-2 bg-secondary sidebar">
    <ul classes="nav nav-pills flex-column">
        <li class="navItem">
            <a class="navLink text-white" style="font-size:17px" href="#"><i class="fa fa-map" aria-hidden="true"></i> Map</a>
        </li>
        <li class="navItem">
            <a class="navLink text-white" style="font-size:17px" href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i> Chart Bar</a>
        </li>
        <li class="navItem">
            <a class="navLink text-white" style="font-size:17px" href="#"><i class="fa fa-wrench"></i> Update</a>
        </li>
    </ul>
</nav>