<div class="about-section">
    <h1>Welcome to Baltimore Crime Stats</h1>
    <p>The goal of this Baltimore Crime Data Visualizer website is to assist
        stakeholders in making decisions regarding the crime prevention using
        publicly available city crime statistics.</p>
    <p>To see more information about crime stats from official website, click below button</p>
    <button type="button"
    onclick="location.href='https://data.baltimorecity.gov/Public-Safety/911-Police-Calls-for-Service/xviu-ezkt'"
    class="btn btn-primary" data-toggle="button" aria-pressed="false"
    autocomplete="off">Baltimore City Data</button>
</div>
