<div class="container about-section">
  <div class="row">
    <div class="col text-center my-12">
      <h1>Welcome to Baltimore Crime Stats</h1>
    </div>
  </div>
  <div class="row">
    <div class="col my-12">
      <p>The goal of this Baltimore Crime Data Visualizer website is to assist
        stakeholders in making decisions regarding crime prevention using
        publicly available city crime statistics.</p>
      <p>To see more information about crime stats from the City of Baltimore's official website, click the button below.</p>
    </div>
  </div>
  <div class="row">
    <div class="col text-center my-12">
      <button type="button" onclick="location.href='https://data.baltimorecity.gov/Public-Safety/911-Police-Calls-for-Service/xviu-ezkt'" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">Baltimore City Data</button>
    </div>
  </div>
</div>