<div class="about-section">
    <h1>Welcome to Baltimore Crime Stats</h1>
    <p>The goal of the Baltimore Crime Data Visualizer web is to assist</p>
    <p>stakeholders in making decisions regarding the crime prevention</p>
    <p>using publicly available city crime statistics.</p>
    <p>To see more information about crime stats from official website, click below button</p>
    <button 
    type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" 
    autocomplete="off">Baltimore City Data Link</button>
</div>


