<div class="container">
  <div class="row">
    <div class="col text-center my-12">
      <h2>Number of 911 Calls By District</h2>
      of latest 1000 Baltimore City 911 calls as of May 11, 2020
      <div class="num-calls-by-district-barchart"></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col text-center my-3">
      <button type="button" class="btn btn-info btn-lg mr-3" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="onDisplayCallsByDistrictBarChart()">Show Chart</button>
    </div>
  </div>
</div>