<!-- Import code from https://bootsnipp.com/snippets/VgBP3 and modify it -->

<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block"><i class="fa fa-ban" aria-hidden="true"></i></span>
                <div class="mb-4 lead">Oops.. Page is not found..</div>
                <button routerLink="/dashboard" routerLinkActive='active'
                type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" 
                autocomplete="off">Back to Dashboard</button>
            </div>
        </div>
    </div>
</div>