<div class="container">
  <div class="row">
    <div class="col text-center my-12">
      <h2>Distribution of Crimes by Description</h2>
      of latest 1000 Baltimore City 911 calls as of May 11, 2020
    </div>
  </div>
  <div class="row">
    <div class="col text-center my-3">
      <button type="button" class="btn btn-info btn-lg mr-3" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="onDisplayCallsByDestributionOfCrime()">Show Tree</button>
    </div>
  </div>
  <div class="row">
    <div class="col text-center my-12">
      <div class="distribution-of-crimes-by-description-tree"></div>
    </div>
  </div>
</div>