<nav class="col-2 bg-secondary sidebar">
  <ul classes="nav nav-pills flex-column">
    <li class="navItem">
      <a class="navLink text-white" style="font-size:20px" routerLink="/dashboard" routerLinkActive='active'>
        <i class="fa fa-home" aria-hidden="true" name="home"></i> Home
      </a>
    </li>
    <li class="navItem">
      <a class="navLink text-white" style="font-size:20px" routerLink="/map-visualization" routerLinkActive='active'>
        <i class="fa fa-map" aria-hidden="true" name="map"></i> Map
      </a>
    </li>
    <li class="navItem">
      <a class="navLink text-white" style="font-size:20px" routerLink="/chart-visualization" routerLinkActive='active'>
        <i class="fa fa-bar-chart" aria-hidden="true" name="charts"></i> Charts
      </a>
    </li>
    <li class="navItem">
      <a class="navLink text-white" style="font-size:20px" routerLink="/piechart-visualization" routerLinkActive='active'>
        <i class="fa fa-pie-chart" aria-hidden="true" name="pie charts"></i> Pie Charts
      </a>
    </li>
    <li class="navItem">
      <a class="navLink text-white" style="font-size:20px" routerLink="/directedtree-visualization" routerLinkActive='active'>
        <i class="fa fa-tree" aria-hidden="true" name="directed tree"></i> Directed Tree
      </a>
    </li>
  </ul>
</nav>