.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
}

.sidebar {
    padding-left: 0;
    padding-right: 0;
}

.sidebar .nav {
    margin-bottom: 20px;
}

.sidebar .navItem {
    min-height: 5vh;
    width: 100%;
}

.sidebar .navItem + .navItem {
    margin-left: 0;
}

.sidebar .navItem + .navItem + .navItem {
    margin-left: 0;
}

.sidebar .navLink {
    border-radius: 0;
}